# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt_demo_project/target/
dbt_demo_project/dbt_packages/
dbt_demo_project/logs/

# secrets — never commit these
.env
*.pem
service-account*.json

# OS
.DS_Store

# dbt local state
dbt_demo_project/.user.yml

# video raw captures
video/raw/
AGENTS.md
